
    body {
      font-family: 'Segoe UI', sans-serif;
    }
    .hero {
      background: url('https://source.unsplash.com/1600x600/?food,restaurant') center/cover no-repeat;
      height: 60vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(233, 170, 55);
      text-shadow: 1px 1px 6px rgba(0,0,0,0.7);
    }
    .card img {
      height: 200px;
      object-fit: cover;
    }
    .titre {
      font-family: 'Reey', sans-serif;
      font-size: 1.8rem;
      color: #fff;
      letter-spacing: 2px;
    }
    .hero {
  display: flex;
  flex-direction: space-between;
  gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  
}
.hero div {
  flex: 1;
}
